@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Fredoka+One&display=swap');



body{
    background-image: url(img/jammy-jellyfish-wallpaper.jpg);
    color: black;
}

.header{
    text-align: center;
    font-family: 'Carter One';
    padding: 0;
    width: 90%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

nav{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    justify-content: center;
}

nav ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 5%;
    list-style-type: none;
    width: 50%;
}


nav a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    position: relative;
    color: black;
}

nav a:hover {
    color: #0a19bd;
}

i{
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 20px;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    font: 32px Arial,
    sans-serif;
}

i:hover{
        color: #0a19bd;
}

span{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Fredoka One'
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 50px;
    height: 50px;
    text-align: center;
}

